html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body {
  background-color: #141414;
  color: white;
}
h1 {
  padding-top: 5em;
  text-align: center;
  font-size: 80px;
}
.menu {
  font-size: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.menu a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  padding-right: 5%;
}
.menu a:hover {
  color: gray;
}

#homepage {
  width: auto;
  height: 1500px;
}
#teunpage {
  width: auto;
  height: 1500px;
}
#schoolpage {
  width: auto;
  height: 1500px;
}
#projectpage {
  width: auto;
  height: 1500px;
}
#contactpage {
  width: auto;
  height: 1000px;
}
.body h2 {
  padding-top: 3em;
  text-align: center;
  font-size: 40px;
}
.body p {
  text-align: center;
  padding-top: 2em;
  font-size: 20px;
}
